## common
*.ipynb
.DS_store
__pycache__/
bin/
include/
lib/
pyvenv.cfg
share/
etc/
README.html
lib64
wandb/

## model_development
model_development/.develop
model_development/local_only/
model_development/data/
*parquet
model_development/model/*/*pkl
model_development/resource/wortschartz_30_vocab.json
model_development/workspace.py


## deploy
deploy/.deploy/

## fine_tuning
fine_tuning/.finetune
fine_tuning/data/
fine_tuning/test_trainer/
fine_tuning/calc_batchsize.py
fine_tuning/traced_model.pt
fine_tuning/tf
fine_tuning/tflite
fine_tuning/onnx
fine_tuning/local-pt-checkpoint/
fine_tuning/workspace.py
model_development/wandb/

## linear_model
linear_model/model
FC*/