## common
*.ipynb
.DS_store
__pycache__/

## model_development
model_development/.develop
model_development/local_only/
model_development/data/
*parquet
model_development/model/*/*pkl
model_development/resource/wortschartz_30_vocab.json
model_development/workspace.py


## deploy
deploy/.deploy/

## fine_tuning
fine_tuning/.finetune
fine_tuning/data/
fine_tuning/test_trainer/